/* 322501477862-c7dd2lpqggvsmhok7au0baha7ee88bbv.apps.googleusercontent.com */


/* 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 */
*{
  margin: 0px;
  padding: 0px;
  font-family: 'Poppins', sans-serif;
}
a:-webkit-any-link{text-decoration: none;}
.demo-wrap {
  overflow: hidden;
  position: relative;
  display: flex;
  width: 100%;
}
.demo-bg {
  opacity: 0.6;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.demo-content {
  position: relative;
  flex: 1 1;
  align-self: center;
  justify-content: center;
  align-items: center;
  display: flex;
}